<%= flash[:notice] %>

<div class="container">
<div class="row">

<div class="col-md-3">
<%= render 'book', books: @books %>
</div>

<div class="col-md-8 offset-md-1">
<h2>Book detail</h2>
<table class="table">
  <tbody>
    <tr>
      <td><%= image_tag 'no_image', size: "80x80" %></td>
      <td><%= link_to @book.title, books_path %></td>
      <td><%= @book.body %></td>
      <% if current_user == @book.user %>
        <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
        <td><%= link_to "Destroy", destroy_book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= link_to @book.user.name, user_path(@book.user) %></td>
    </tr>
  </tbody>
</table>

</div>
</div>
</div>